html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #e6dbd0;
    font-family: "Arial";
}

body{
    position: relative;
}

/* Styling header element */
header {
    position: relative;
    width: 100%;
    overflow-y: hidden;
    /* fallback for old browsers */
    background-color: #e86655;
    color: #fffdf3;
    padding-top: 70px;
    min-height: 500px;
}

header h2:first-child {
    margin-top: 40px;
}

nav.navbar {
    background-color: #2f3c4e;
    color: white;
    height: 60px;
}

nav. .nav-link.active {
    background-color: pink!important;
}

nav.navbar a {
    color: white;
}

nav.navbar a:hover {
    color: #e86655;
}

header .see-more-btn {
    margin: 10px 0 10px 0;
}

.ui-widget {
    width: 200px;
}

.ui-widget input {
    width: 200px;
}

.ui-menu .ui-menu-item:first-of-type {
    padding-top: 20px;
}

.ui-menu {
    background-color: white;
}

.ui-menu .ui-menu-item {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
}

.ui-menu .ui-menu-item a {
    color: black;
    cursor: pointer;
    text-align: center;
}

.ui-menu .ui-menu-item a:hover {
    text-decoration: none;
    color: #e86655;
}

nav p {
    padding: 15px 10px 0 0;
}

.full-article {
    width: 100%;
    border-radius: 0;
}

#popularHeader h6, #recentHeader h6 {
    height: 50px;
}

#popularHeader img, #recentHeader img {
    max-width: 100%;
    max-height: 150px;
    margin: auto;
    display: block;
}

section {
    padding: 50px 0 50px 0;
}

section:last-of-type {
    margin-bottom: 80px;
}

section h2 {
    text-align: center;
}

section h6 {
    height: 80px;
}

section img {
    max-width: 100%;
}

header .extra {
    display: none;
    margin-top: 50px;
}

#sportNewsSection button {
    margin-top: 10px;
    float: right;
    cursor: pointer;
}

#articleImg {
    max-width: 200px;
    margin: auto;
    display: block;
    padding: 15px 0 15px 0;
}

.modal-body .social-shares {
    display: flex;
    text-align: center;
}

.modal-body .social-shares img{
    margin: -15px 0 0 10px;
}

/* Styling of footer */
footer {
    background-color: #000000;
    color: #ffde00;
    padding: 10px 0 10px 0;
    text-align: center;
    height: 40px;
    position: relative;
    font-size: 18px;
}