html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #e6dbd0;
    font-family: "Arial";
}

body {
    position: relative;
}

/* Styling header element */
header {
    position: relative;
    width: 100%;
    overflow-y: hidden;
    /* fallback for old browsers */
    background-color: #e86655;
    color: #fffdf3;
    padding-top: 70px;
    min-height: 500px;
}

header h2:first-child {
    margin-top: 40px;
}

nav.navbar {
    background-color: #2f3c4e !important;
    color: white !important;
    height: 60px;
}

nav. .nav-link.active {
}

nav.navbar a {
    color: white !important;
}

nav.navbar a:hover {
    color: #e86655;
}

nav p > a {
    padding: 0 0 0 10px;
    cursor: pointer;
}

nav > div {
    background-color: #2f3c4e;
}

header .see-more-btn {
    margin: 10px 0 10px 0;
}

nav .ui-widget input {
    width: 300px;
}

.ui-menu .ui-menu-item:first-of-type {
    padding-top: 16px;
}

nav p {
    padding: 15px 10px 0 0;
}

.full-article {
    border-radius: 0;
    margin: auto;
    display: block;
    min-width: 250px;
}

#popularHeader h6 {
    height: 70px;
}

#popularHeader img {
    max-height: 150px;
    margin: auto;
    display: block;
    min-width: 250px;
}

@media (min-width: 768px) {
    #popularHeader img {
        min-width: 100%;
    }

    .full-article {
        min-width: 100%;
    }
}

section {
    padding: 50px 0 50px 0;
}

section h1 {
    text-align: center;
    color: #e86655;
    display: inline-block;
    margin: 0 20px 50px 20px;
}

section > .container > img {
    display: inline-block;
    float: right;
    cursor: pointer;
}

section h6 {
    height: 80px;
    font-weight: bold;
}

section .row img {
    width: 100%;
}

section .full-article {
    margin-bottom: 40px;
}

header .extra {
    display: none;
    margin-top: 50px;
}

#sportNewsSection button {
    margin-top: 10px;
    float: right;
    cursor: pointer;
}

#categoryArticles .ui-tabs-nav {
    text-align: center;
}

#categoryArticles .ui-tabs-nav li {
    display: inline-block;
    float: none;
    top: 0;
    margin: 0;
    height: 35px;
    padding-bottom: 0;
    width: 120px;
    text-align: center;
}

#categoryArticles .ui-tabs-nav li a {
    text-align: center;
    width: 100%;
}

#articleImg {
    max-width: 200px;
    margin: auto;
    display: block;
    padding: 15px 0 15px 0;
}

#sportsCentre {
    height: 1000px;
    background-color: #d8d8d8;
}

#sportsCentre nav {
    background-color: #ffcb2b;
    color: black;
    padding: 10px 0 10px 20px;
    margin: 0;
}

#sportsCentre nav .nav-link.active {
    border-bottom: solid 3px white;
}

#sportsCentre nav .nav-link {
    float: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

#sportsCentre h1 {
    text-align: left;
    display: block;
    margin: 10px 0 20px 0;
}

#sportsCentre .col-md-3 h5 {
    padding: 40px 0 5px 0;
}

#sportsCentre .col-md-3 .btn {
    margin-top: 10px;
}

/* Sports Centre styling */
#sportsCentre table {
    text-align: center;
}

#sportsCentre th, td {
    padding: 3px 10px 3px 10px;
    text-align: center;
}

#sportsCentre #leagueTableSection tr {
    text-align: center;
}

#sportsCentre #fixturesSection table td:nth-child(1) {
    text-align: left;
    width: 240px;
}

#sportsCentre #fixturesSection table td:nth-child(5) {
    text-align: right;
    width: 240px;
}

#sportsCentre .ui-widget-header {
    background-color: transparent;
    border: none;
    padding-top: 150px;
}

#sportsCentre .ui-widget-header li {
    width: 200px;
}

/* Styling of footer */
footer {
    background-color: #000000;
    color: #ffde00;
    padding: 10px 0 10px 0;
    text-align: center;
    height: 40px;
    position: relative;
    font-size: 18px;
}