html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #e6dbd0;
    font-family: "Arial";
}

body {
    position: relative;
}

/* Styling header element */
header {
    position: relative;
    width: 100%;
    overflow-y: hidden;
    /* fallback for old browsers */
    background-color: #1972a9;
    color: #ffffff;
    padding-top: 70px;
    min-height: 500px;
}

header h2:first-child {
    margin: 20px 0 20px 0;
    text-align: center;
}

header .see-more-btn {
    margin: 10px 0 10px 0;
}

header .extra {
    display: none;
    margin-top: 50px;
}

/* Styling navbar */
nav.navbar {
    background-color: #2f3c4e !important;
    color: white !important;
    height: 60px;
}

nav .navbar-brand span img {
    width: 100px;
}

header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 12px 0 12px;
}

nav.navbar a {
    color: white !important;
    font-size: 16px;
}

nav.navbar a:hover {
    color: #1972a9;
}

nav p > a {
    padding: 0 0 0 10px;
    cursor: pointer;
}

nav > div {
    background-color: #2f3c4e;
}

nav .ui-widget input {
    width: 200px;
    background: url("../images/search.svg") no-repeat scroll left;
    background-color: white;
    padding-left: 28px;
}

nav p {
    padding: 15px 10px 0 0;
}

nav .nav-item.active {
    border-bottom: solid white 3px;
}

.navbar-nav > li.dropdown:hover > a,
.navbar-nav > li.dropdown:hover > a:hover,
.navbar-nav > li.dropdown:hover > a:focus {
    background-color: #2f3c4e;
    color: #ffffff;
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu {
    background-color: #2f3c4e;
    border: none;
}

.dropdown-menu a:hover {
    color: #1972a9 !important;
    background-color: #2f3c4e;
    cursor: pointer;
}

.dropdown-menu a.active {
    color: #ffffff !important;
    background-color: #2f3c4e;
}

/* Drop down list for searching */
.ui-menu .ui-menu-item:first-of-type {
    padding-top: 16px;
}

/* View more button under each article */
.view-more-btn {
    border-radius: 0;
    margin: auto;
    display: block;
    min-width: 250px;
    color: #fff;
    background-color: #4286a9;
    cursor: pointer;
}

/* Popular news articles section */
#popularHeader h6 {
    height: 70px;
}

#popularHeader img {
    max-height: 150px;
    margin: auto;
    display: block;
    min-width: 250px;
}

/* Media enquiry for devices with greater than 768px width */
@media (min-width: 768px) {
    #popularHeader img {
        min-width: 100%;
    }

    .view-more-btn {
        min-width: 100%;
    }
}

/* Styling for each section element */
section {
    padding: 50px 0 50px 0;
}

section h1 {
    text-align: center;
    color: #1972a9;
    display: inline-block;
    margin: 0 20px 50px 20px;
}

section > div.sort-by {
    display: block;
    margin: auto;
}

section h6 {
    height: 80px;
    font-weight: bold;
}

section .row img {
    width: 100%;
}

@media (max-width: 768px) {
    .row h6 {
        text-align: center;
    }

    .col img {
        width: 250px!important;
    }
}

section .view-more-btn {
    margin-bottom: 40px;
}

/* Articles for each category styling */
#categoryArticles .sort-by-div {
    float: right;
    padding-top: 20px;
}

#categoryArticles .sort-by-div > #sortBySelect {
    width: 150px;
    height: 40px;
    top: 0;
}

#categoryArticles .sort-by-div > label {
    padding: 0 0 20px 0;
}

#categoryArticles .category-icon {
    float: left;
    padding-top: 10px;
    height: 40px;
}

section > div > div {
    text-align: center;
}

#categoryArticles .ui-tabs-nav {
    text-align: center;
}

#categoryArticles .ui-tabs-nav li {
    display: inline-block;
    float: none;
    top: 0;
    margin: 0;
    height: 35px;
    padding-bottom: 0;
    width: 120px;
    text-align: center;
}

#categoryArticles .ui-tabs-nav li a {
    text-align: center;
    width: 100%;
}

#articleImg {
    max-width: 200px;
    margin: auto;
    display: block;
    padding: 15px 0 15px 0;
}

/* Football Centre Styling */
#footballCentre {
    min-height: 900px;
    background-color: #d8d8d8;
}

#footballCentre nav {
    background-color: #ffcb2b;
    color: black;
    padding: 10px 0 10px 20px;
    margin: 0;
}

#footballCentre nav .nav-link.active {
    border-bottom: solid 3px white;
}

#footballCentre nav .nav-link {
    float: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

#footballCentre h1 {
    text-align: left;
    display: block;
    margin: 10px 0 20px 0;
}

#footballCentre .col-md-3 h5 {
    padding: 40px 0 5px 0;
}

#footballCentre .col-md-3 .btn {
    margin-top: 10px;
}

#footballCentre table {
    text-align: center;
}

#footballCentre th, td {
    padding: 3px 10px 3px 10px;
    text-align: center;
}

@media (max-width: 768px) {
    #footballCentre th, td {
        padding: 1px 2px 1px 2px;
        text-align: center;
    }
}

#footballCentre td {
    border-bottom: solid 1px #b6b6b6;
}

#footballCentre #leagueTableSection tr {
    text-align: center;
}

#footballCentre #fixturesSection table td:nth-child(1) {
    text-align: left;
    width: 240px;
}

#footballCentre #fixturesSection table td:nth-child(5) {
    text-align: right;
    width: 240px;
}

#footballCentre .ui-widget-header {
    background-color: transparent;
    border: none;
    padding-top: 150px;
}

#footballCentre .ui-widget-header li {
    width: 200px;
}

#gameWeekForm {
    display: none;
}

/* Styling of footer */

.info-footer {
    padding: 30px 0 140px 0;
    color: black;
    background-color: white;
}

footer {
    background-color: #2f3c4e;
    color: #ededed;
    padding: 10px 0 10px 0;
    text-align: center;
    height: 40px;
    position: relative;
    font-size: 18px;
}